<div id="testt">
        <div class="my-card-header">
                <h1 class="my-card-title"> LISTE DES projets</h1>
              </div>

                    <div class="clearfix mb20">
                            <a class="pull-right myCustomButton"(click)="openDialog()">
                              <i class="fa fa-plus" aria-hidden="true"></i> </a>
                    </div>
<div class="mat-elevation-z8">
    <!-- <mat-form-field class="aa" >
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="firstname" (input)="Search()" placeholder="Filter" >
    </mat-form-field> -->
    <!-- <div class="form-group">
<input type="text" class="form-control" placeholder="Serch by name"

style="width: 300px;" [([(ngModel)]="searchterm")]/>
    </div> -->
      <div class="panel panel-default">
       
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>date</th>
                        <th>Bugs</th>
                        <th>exeption</th>
                    </tr>
                </thead>
                <tbody *ngIf="projets">
                    <tr *ngFor="let projet of projets._embedded.projets ">
                        
                        <td>{{projet.nom}}</td>
                        <td>{{projet.date|date:'mediumDate'}}</td>
                        
                        <td><a [routerLink]="['/bdi/projets', projet.id, 'bugs']">List des bugs</a></td>
                        <td>
                          <button  (click)="deleteProjet(projet)" class="btn btn-sm btn-dark" ><i class="fa fa-trash-alt" id="delte"></i></button>
                          <button (click)="openDialogEdit(projet.id)"  class="btn btn-sm btn-dark" id="btn"><i class="fa fa-pencil-alt" id="modifier"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
        </div>
       
    </div>

   
</div>
<br>

</div>

