<div class="content">
  <div class="spinner" *ngIf="!isLoaded"></div>
  <div *ngIf="isLoaded">
    <form [formGroup]="userForm">
      <fieldset>
        <div class="fields">
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="col-sm-4 input-label">
                Mot de passe :
              </div>
              <div class="col-sm-8">
                <input type="password" formControlName="password" name="password" placeholder="mot de passe">
                <ul class="myError" *ngIf="userForm.get('password').errors && (userForm.controls.password.dirty || userForm.controls.password.touched)">
                  <li *ngIf="userForm.get('password').errors['required']">
                    <p class="myError">Mot de passe requie</p>
                  </li>
                  <li *ngIf="userForm.get('password').errors['minlength']">
                    <p class="myError">Le mot de passe doit avoir au moins 6 caractères
                      <p>
                  </li>
                  <li *ngIf="userForm.get('password').errors['maxlength']">
                    <p class="myError">Le mot de passe doit avoir au plus 100 caractères
                      <p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <button class="myCustomButton" (click)="onAnnuler()">Init</button>
              <button [disabled]="!userForm.valid" class="myCustomButton primary" (click)="onSubmit()">Sauvgarder</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>