<div [hidden]="isLoaded" class="spinner"></div>
<div [hidden]="!isLoaded" class="parent">
  <aside id="sidebar">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo-li">
        <a [routerLink]="['/']">
          <img src="/assets/images/peaqock.png" class="img-responsive logoo">
        </a>
      </li>
      <li routerLinkActive="active" *ngIf="user && hasAuth(user, ['ROLE_SUPER_ADMIN','ROLE_ADMIN'])">
        <a [routerLink]="['/user']">
          <p class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </p>
          Utilisateurs
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/bdi/GridProjet']" class="liste">
          <p class="icon">
            <i class="fa fa-list" aria-hidden="true"></i>
          </p>
          Gestion Projets
        </a>
      </li>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-expansion-panel  (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngIf="projets">
      <mat-expansion-panel-header >
          <mat-panel-title>
            <a mat-list-item  class="listee" >
                <p class="icon">
                    <i class="fa fa-list" aria-hidden="true"></i>
                  </p>
              Liste Bugs
            </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
 
      <mat-nav-list *ngFor="let pro of projets._embedded.projets">
    
        <a mat-list-item [routerLink]="['/bdi/projets', pro.id, 'bugs']"><i class="fas fa-align-left"></i>&nbsp;&nbsp;&nbsp; <strong>{{pro.nom}}</strong></a>
    
      </mat-nav-list>
  </mat-expansion-panel>
</li>

     
      

    </ul>
  </aside>
  <main id="main">
    <nav id="nav">
        <img src="/assets/images/peaqock.png" class="img-responsive logo">
      <div>
        <!-- <notification-dropdown></notification-dropdown> -->
        
        <user-dropdown [user]="user"></user-dropdown>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </main>
</div>