<div class="content">
  <div class="spinner" *ngIf="!isLoaded"></div>
  <div *ngIf="isLoaded">
    <div class="image">
      <img class="user-logo" *ngIf="!image" src="/assets/imgs/layout/default.png">
      <img class="user-logo" *ngIf="image" [src]="image">
    </div>
    <div class="text-center">
      <button class="myCustomButton" (click)="file.click()">Importer</button>
      <button [disabled]="myfile==null" class="myCustomButton primary" (click)="onSauvgarder()">Sauvgarder</button>
      <input (change)="handleFileInput($event.target.files)" type="file" accept="image/*" #file style="display: none;">
    </div>
  </div>
</div>