.modal .modal-dialog{
    /* width: 90%; */
    /* overflow: auto; */
    /* max-height: 90%; */
}
.show{
    display: flex!important;
}
h5{
    font-weight: bold;
    color: #8c8686;
    font-size: 20px;
    text-transform: uppercase;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    /* text-align: center; */
    background-color: rgba(0,0,0,0.5);
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal.in .modal-dialog {
    width: 94%;
    min-height: auto;
    padding: 10px;
    position: relative;
    margin: auto;
    /* top: 3%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.modal-content{
    width: 100%;
    height: 100%;
}