.mat-mini-fab {
    margin-top: 5%;
    margin-left: 90%;
    background-color: #3fb57a;
}
#delte{
    color: red;
}
#modifier{
    color: #41bd40;
}
/* #btn{
    margin-left: 6%;
}
#test{
    width: 90%;
    margin-left: 5%;
}
#btn{
    margin-left: 9%;
} */

.mat-elevation-z8{
    width: 97%;
    margin-left: 1.5%;
    margin-top:  55px;
}
#testt{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    background-color: #fff;
    /* padding: 0 15px 20px; */
    margin-bottom: 20px;
    margin-left: 90px;
    width: 90%;
    margin-left: 7.5%;
    margin-top: 40px;
}
.panel-default{
    margin-top: -50px;
}