<div id="testt">
        <div class="my-card-header">
                <h1 class="my-card-title"> Liste Bugs</h1>
              </div>
              <div class="clearfix mb20">
                    <a class="pull-right myCustomButton"(click)="openDialog()">
                      <i class="fa fa-plus" aria-hidden="true"></i> </a>
            </div>
<div class="mat-elevation-z8">
      
      <div class="panel panel-default">
     
        
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Interface</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>id_projet</th>
                        <th>exeption</th> 

                    </tr>
                </thead>
                <tbody *ngIf="bugs"> 
                    <tr *ngFor="let bg of bugs._embedded.bugs">
                        <td>{{bg.interfacee}}</td>
                        <td>{{bg.type}}</td>
                        <td>{{bg.date|date:'mediumDate'}}</td>
                        <td>{{bg.statut}}</td>
                        <td>{{bg.projet.id}}</td>
                        <td (click)="test()">
                          <button  (click)="onDeleteBug(bg)" class="btn btn-sm btn-dark" ><i class="fa fa-trash-alt" id="delte"></i></button>
                          <button (click)="onEditug(bg)"  class="btn btn-sm btn-dark" id="btn"><i class="fa fa-pencil-alt" id="modifier"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <pagination-controls class="pagi" (pageChange)="page = $event"></pagination-controls> -->
        </div>
    </div>

</div>
<br>
</div>
