<div class="login">
    <div class="menu-toggler sidebar-toggler"></div>
    <div class="logo">
        <a routerLink="/login">
            <img style="width:220px;height:40px" src="assets/imgs/layout/logo_peaqock_n.png" alt="peaqock" />
        </a>
    </div>
    <div class="content">
        <form name="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit" #form="ngForm">
            <h3 class="form-title font-green">Réinitialiser le mot de passe</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input formControlName="password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                    placeholder="Password" name="password" />
                <ul class="myError" *ngIf="signUpForm.get('password').errors && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)">
                    <li *ngIf="signUpForm.get('password').errors['required']">
                        <p class="myError">Mot de passe requie</p>
                    </li>
                    <li *ngIf="signUpForm.get('password').errors['minlength']">
                        <p class="myError">Le mot de passe doit avoir au moins 6 caractères
                            <p>
                    </li>
                    <li *ngIf="signUpForm.get('password').errors['maxlength']">
                        <p class="myError">Le mot de passe doit avoir au plus 100 caractères
                            <p>
                    </li>
                </ul>
            </div>
            <span class="help-block" style="color: red;"></span>

            <div class="form-actions">
                <button [disabled]="!signUpForm.valid || !token" (click)="onSubmit()" type="submit" class="btn green uppercase">Modifier</button>
                <a [routerLink]="['/auth/login']" id="forget-password" class="forget-password">login?</a>
            </div>
        </form>
    </div>
</div>