<section>
<!-- <p>
    <mat-form-field appearance="standard">
        <mat-label>choisi votre interface</mat-label>
        <ngx-mat-file-input [(ngModel)]="bug.interface"  (change)="onSelectFile($event)" placeholder="choise votre interface"  >
        </ngx-mat-file-input>
        </mat-form-field>
</p> -->
<p>
  <mat-form-field appearance="fill">
    <mat-label>Entrer votre interface</mat-label>
    <input  matInput [(ngModel)]="bug.interfacee" placeholder="Entrer votre type" required>
  </mat-form-field>
</p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Entrer votre type</mat-label>
        <input  matInput [(ngModel)]="bug.type" placeholder="Entrer votre type" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Entrer votre date</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="bug.date"   placeholder="Entrer votre date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
   
      <mat-form-field appearance="fill">
        <mat-label>status</mat-label>
        <input matInput [(ngModel)]="bug.statut"  placeholder="Entrer votre status"  required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>id_projet</mat-label>
        <input matInput [(ngModel)]="id_projet"  placeholder="Entrer votre bug.id_projet"  required>
      </mat-form-field>
    </p>
    <button mat-button (click)="cancel()">Annuler</button> &nbsp;&nbsp;
    <button type="submit" *ngIf="!isUpdate" mat-raised-button (click)="onSaveBug()">Ajouter</button>
    <button type="submit" *ngIf="isUpdate" mat-raised-button (click)="onSaveBug()">Modifier</button>
    
  </section>